.container_no_internet{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_popup{
    padding: 30px;
    margin-top: 40px;
    border-radius: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    background: white;
    justify-content: center;
    align-items: center;
}
.lottie{
    width: 25%;
}
.try_again{
    width: 100%;
}

@media screen and (max-width: 1024px){
    .container_no_internet{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container_popup{
        padding: 30px;
        border-radius: 10px;
        width: 80%;
        display: flex;
        flex-direction: column;
        background: white;
        justify-content: center;
        align-items: center;
    }
    .lottie{
        width: 40%;
    }
    .try_again{
        width: 100%;
    }
}