.content {
    width: 100vw;
    height: 90vh; 
    display: flex;
}
.content .content_left{
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .content_right{
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .content_left .background{
    height: 100%;
}
.content .content_right .form-login{
    width: 20vw;
    height: 50vh;   
}

.form_title_1{
    font-size: 30px;
    font-weight: bold;
}
.form_title_2{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
}

.box_input{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid rgb(169, 156, 156); 
    margin-top: 10px;
}
.box_input input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
}

.login-btn{
    margin-top: 20px;
    width: 100%;
    height: 6vh;
    background: black;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.box{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkbox-label{
    font-size: 12px;
}
.checkbox-input{
    height: 12px;
}
.forgot_pw_text {
    text-decoration: underline;
    color: #000; 
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}
  
.forgot_pw_text:hover {
    text-decoration: underline; 
    color: rgb(42, 42, 253); 
}

.no-account-text{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    font-size: 12px;
}
.sign-up{
    margin-left: 5px;
    font-size: 12px;
    color: #000; 
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
}

.sign-up:hover {
    text-decoration: underline; 
    color: rgb(42, 42, 253); 
}

.error-text{
    margin-top: 5px;
    color: red;
    font-size: 12px;
}