.delete-button{
    width: 20px;
    height: 20px;
    background: transparent;
    border: none;
}
.delete-button img{
    width: 20px;
    height: 20px ;
    filter: grayscale(100%) invert(100%);

}

.table-container{
    border-radius: 12px;
    background: #1b2430;
}
.custom-table{
    border-collapse: collapse;
}
.background-table{
    
    background: transparent !important;
}
.background-table td,th {
    padding:15px;
}